[Input files]
;#File with list of observed spectra
files_list = /Users/madamow/Science/pyEW/example/spectra.list
line_list_file = /Users/madamow/Science/pyEW/example/example.linelist

[Spectrum]
;#off par, in lambda units, defines range of spectra: line +- offset
off=1.0

;#smoothing, usually 3 or 4 works fine
s_factor = 2.

;# Do you want to calculate S/N automatically?  True or False.
rejt_auto = False

;#  Do you want to fit continuum locally? True or False.
local_cont = True

;#parameter for continuum fiting, if rejt_auto=True, it will be ignored
rejt=0.995

;#threshold for hot pixels
t_sig = 3.

;#will be ignored if rejt_auto=False
[cont_sec]
sec1 = 5764.0 5766.0
sec2 = 6047.0 6052.0
sec3 = 6068.0 6076.0

[Lines]
;#minimum level for finding strong lines.
r_lvl=0.5

;#area around center of line: line+/-fwhm*w_factor
w_factor = 1.0

;#min eqw
l_eqw=2.

;#max eqw
h_eqw=250.

;#max difference in A between line's lab and stellar position
det_level=0.07

;#reduced eqw - if rEW>v_lvl, check Voigt profile
v_lvl = -5.5

;#True or False - should I do plot for ALL lines?
plot_flag = True

;#show plot for some lines, 0 if no lines should be plotted, or  line1 line2 ... otherwise
show_lines = 0
