[Input files]
files_list = /Users/myszka/pyEW/example/spectra.list   ;#File with list of observed spectra
line_list_file = /Users/myszka/pyEW/example/example.linelist ;#

[Spectrum]
off=1.0                      ;#in lambda units, defines range of spectra: line +- offset
s_factor = 2.                ;#smoothing, usually 3 or 4 works fine
rejt_auto = False            ;#True or False. Do you want to calculate S/N automatically?
local_cont = True            ;# True or False. Do you want to fit continuum locally?
rejt=0.995                   ;#parameter for continuum fiting, if rejt_auto=True, it will be ignored     
t_sig = 3.                   ;#threshold for hot pixels

[cont_sec]                   ;#will be ignored if rejt_auto=False
sec1 = 5764.0 5766.0
sec2 = 6047.0 6052.0
sec3 = 6068.0 6076.0

[Lines]
r_lvl=0.5                    ;#minimum level for finding strong lines. 
w_factor = 1.0               ;#area around center of line: line+/-fwhm*w_factor
l_eqw=2.                     ;#min eqw
h_eqw=250.                   ;#max eqw
det_level=0.07               ;#max difference in A between line's lab and stellar position
v_lvl = -5.5                ;#reduced eqw - if rEW>v_lvl, check Voigt profile
plot_flag = True           ;#True or False - should I do plot for ALL lines?
show_lines = 0         ;#show plot for some lines, 0 if no lines should be plotted, or  line1 line2 ... otherwise
