[Input files]
files_list = spectra.list   ;#File with list of observed spectra
line_list_file = example.linelist ;#

[Spectrum]
off=1.0                      ;#defines range of spectra: line +- offset
s_factor = 3.                ;#smoothing
rejt_auto = True             ;#do you want calculate continuum parameter automatically?
rejt=0.995                   ;#parameter for continuum fiting, if rejt_auto=True, it will be ignored

[cont_sec]                   ;#will be ignored if rejt_auto=False
sec1 = 5764.0 5766.0
sec2 = 6047.0 6052.0
sec3 = 6068.0 6076.0

[Lines]
r_lvl=1.0                    ;#threshold for finding strong lines. 
l_eqw=5.                     ;#min eqw
h_eqw=150.                   ;#max eqw
det_level=0.07               ;#max difference in A between line's lab ans stellar position
v_lvl = 80.                  ;#eqw - if eqw>v_lvl, check Voigt profile
plot_flag=True               ;#should I do plot?
