[Input files]
files_list = spectra.list   ;#File with list of observed spectra
line_list_file = example.linelist ;#

[Spectrum]
off=1.0                      ;#defines range of spectra: line +- offset
s_factor = 3.                ;#smoothing, usually 3 or 4 works fine
rejt_auto = False            ;#True or False. Do you want calculate S/N automatically?
rejt=0.995                   ;#parameter for continuum fiting, if rejt_auto=True, it will be ignored

[cont_sec]                   ;#will be ignored if rejt_auto=False
sec1 = 5764.0 5766.0
sec2 = 6047.0 6052.0
sec3 = 6068.0 6076.0

[Lines]
r_lvl=1.0                    ;#threshold for finding strong lines. 
l_eqw=2.                     ;#min eqw
h_eqw=150.                   ;#max eqw
det_level=0.07               ;#max difference in A between line's lab and stellar position
v_lvl = 0. ;#-3.84           ;#reduced eqw - if rEW>v_lvl, check Voigt profile
plot_flag = False            ;#True or False - should I do plot for ALL lines?
show_lines = 0               ;#show plot for some lines, 0 if no lines should be plotted, or  line1 line2 ... otherwise
2nd_fit = True               ;#do fits again, fix fwhm and line position, fit only depth. This is done after first "traditional" fitting
 